.commentBox {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px 0px 2px 4px;
    border-color: #e6eeff;
    float: left;
    padding: 5px;
    margin: 5px 5px auto auto;
}
.profileImage {
    border-style: solid;
    border-color: #e6eeff;
    border-width: 0px 0px 1px 2px;
    margin: 8px;
    border-radius: 10px;
    float: left;
    width: 75px;
    height: 75px;
}
.comments {
    border-radius: 10px;
    float: left;
    font: bold 18px "Helvetica";
}
.commentName {
    font: bold 24px "Helvetica";
    float: left;
    margin-top: 30px;
    color: Black;
}
.commentButton {
    border-radius: 10px;
    font: bold 15px "Arial";
    margin: 5px;
}
.existingCommHead {
    font: bold 36px "Helvetica";
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #e6eeff;
    color: Black;
    padding: 10px;
}
.listItem {
    color: #0059b3;
}
.existingComm {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px 0px 2px 4px;
    border-color: #e6eeff;
    text-align: left;
    width: 50%;
}